<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <nav style="width: 100%; display:flex; background-color: black; color: white;justify-content: space-between; ">
        <ul style="display: flex; text-decoration:none; justify-content: space-between; ">
            <li style="margin-left: 50px; text-decoration: none; color: white;"><a href="{% url 'add_author'%}" style="color: white;">Add_author</a></li>
            <li style="margin-left: 50px; text-decoration: none; color: white;"><a href="{% url 'add_book'%}" style="color: white;">Add_book</a></li>
            <li style="margin-left: 50px; text-decoration: none; color: white;"><a href="{% url 'add_borrow_record'%}" style="color: white;" >Add_borrow</a></li>
            <li style="margin-left: 50px; text-decoration: none; color: white;"><a href="{% url 'author_list' %}" style="color: white;">List of Authors</a></li>
            <li style="margin-left: 50px; text-decoration: none; color: white;"><a href="{% url 'book_list'%}" style="color: white;">Books_List</a></li>
            <li style="margin-left: 50px; text-decoration: none; color: white;"><a href="{% url 'borrow_record_list'%}" style="color: white;">Borrow_List</a></li>


        </ul>
    </nav>
    {% block extra_head %}
    {% endblock %}

   
    
</body>
</html>